<router-outlet></router-outlet>

<ul>
    <li><a routerLink="/UserViewComponent" routerLinkActive="active">User View</a></li>
    <li><a routerLink="/UserFormComponent" routerLinkActive="active">User form</a></li>
    <li><a routerLink="/TokenReaderComponent" routerLinkActive="active">Token reader</a></li>
    <li><a routerLink="/CountriesViewComponent" routerLinkActive="active">Countries view</a></li>
    <li><a routerLink="/CapitalCityWeatherComponent" routerLinkActive="active">Capital city weather</a></li>
</ul>